<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>支払</title>
  <style>
    body {
        background-color: #EFECEC;
    }
    .inquiry {
        position: absolute;
        width: 90%;
        height: 80%;
        padding: 20px 25px 60px 25px;
        left: 20px;
        top: 20px;
        background: #FFFFFF;
    }
    .inquiry-data{
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
  </style>
</head>
<body>
  <div class="inquiry">
    <p><%= @cus_name %>さん、</p>
    <p>ご予約ありがとうございます。</p>
    <b>チェックイン：</b><%= @start_date.strftime("%Y-%m-%d") %> 16:00<br>
    <b>チェックアウト</b><%= @end_date.strftime("%Y-%m-%d") %> 11:00<br>
    <b>部屋番号：</b><%= @room_no %><br>
    <b>部屋タイプ：</b><%= @room_type %><br>
    <b>価額：</b><%= @price %>円<br>
    <b>合計金額：</b><%= @total_amount %>円<br>
    <b>暗証番号：</b><%= @key_no %><br>
    <p><%= @cus_name %>さんのクレジットからお金を取得しました。</p>
    <p>よろしくお願いいたします。</p>
</div>
</body>
</html>