<div class="container-fluid" style="padding-bottom: 140px; padding-top: 90px;">
  <div class="container">
    <p class="fs-4 text-center pt-2">設備案内</p><hr>
    <div class="row pt-3">
      <p class="fs-5">部屋タイプ</p>
      <div class="col-12 col-md-3 text-center">
        <div class="card" style="max-width: 20rem;">
          <%= image_tag 'single2.jpg', class: "card-img-top room-index-img img-thumbnail", alt: "room" %>
          <div class="card-body">
            <h5 class="card-title">シングルルーム</h5>
            <div class="card-text">1人</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 text-center">
        <div class="card" style="max-width: 20rem;">
          <%= image_tag 'twin1.jpg', class: "card-img-top room-index-img img-thumbnail", alt: "room" %>
          <div class="card-body">
            <h5 class="card-title">ツインルーム</h5>
            <div class="card-text">2人</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 text-center">
        <div class="card" style="max-width: 20rem;">
          <%= image_tag 'deluxe2.jpg', class: "card-img-top room-index-img img-thumbnail", alt: "room" %>
          <div class="card-body">
            <h5 class="card-title">デラックスツインルーム</h5>
            <div class="card-text">3人</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 text-center">
        <div class="card" style="max-width: 20rem;">
          <%= image_tag 'suite2.jpg', class: "card-img-top room-index-img img-thumbnail", alt: "room" %>
          <div class="card-body">
            <h5 class="card-title">スィートルーム</h5>
            <div class="card-text">6人</div>
          </div>
        </div>
      </div>
    </div>
    <p class="fs-4 text-center pt-5">他の設備</p><hr>
    <div class="row pt-2">
      <div class="d-flex justify-content-around">
            <div class="card" style="max-width: 20rem;">
            <%= image_tag 'f-4.png', class: "card-img-top room-index-img img-thumbnail", alt: "room" %>
        </div>
          <div class="card" style="max-width: 20rem;">
            <%= image_tag 'f-5.png', class: "card-img-top room-index-img img-thumbnail", alt: "room" %>
        </div>
          <div class="card" style="max-width: 20rem;">
            <%= image_tag 'f-6.png', class: "card-img-top room-index-img img-thumbnail", alt: "room" %>
        </div>
      </div>
    </div>
  </div>
</div>