<% if notice %>
  <div class="alert-success pb-3" style="padding-top: 80px;">
    <%= notice %>
    <span class="closebtn float-end" onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
<% end %>
<% if alert %>
  <div class="alert-danger pb-3" style="padding-top: 80px;">
    <%= alert %>
    <span class="closebtn float-end" onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
<% end %>
<% if notice || alert %>
  <div id="carouselExampleControls" class="carousel" data-interval="1000" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "unmanned.jpg", class: "d-block carousel-img img-fluid" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "bed3.jpg", class: "d-block carousel-img img-fluid" %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% else %>
  <div id="carouselExampleControls" class="carousel pt-5" data-interval="1000" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "unmanned.jpg", class: "d-block carousel-img img-fluid" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "bed3.jpg", class: "d-block carousel-img img-fluid" %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% end %>
<% if user_signed_in? && !current_user.staff || !user_signed_in? %>
  <div class="d-flex justify-content-center booking-date pt-3 pb-4">
    <div class="text-center mx-5">
      <div class="row">
        <div class="col-12 text-center">
          <p class="fs-3">Book now 宿泊のご予約・空室検索</p>
        </div>
      </div>
      <form action="/rooms" method="get" accept-charset="UTF-8" id="myform" class="row d-flex justify-content-center">
        <div class="col-12 col-sm-3 datepicker">
          <label for="date">チェックイン</label>
          <input type="text" name="startdate" class="start-datepicker form-control" id="startdate" autocomplete="off" placeholder="年/月/日">
        </div>
        <div class="col-12 col-sm-3 datepicker">
          <label for="date">チェックアウト</label>
          <input type="text" name="enddate" class="end-datepicker form-control" id="enddate" autocomplete="off" placeholder="年/月/日">
        </div>
        <div class="col-12 col-sm-2 pt-1">
          <label for="date">人</label>
          <select class="form-select" name="people">
            <option value="1">1人</option>
            <option value="2">2人</option>
            <option value="3">3人</option>
            <option value="4">4人</option>
            <option value="4">5人</option>
            <option value="4">6人</option>
          </select>
        </div>
        <div class="row text-center pt-2">
          <div>
            <input type="submit" value="検索" onclick="return myFunction()" data-disable-with="Search" />
          </div>
        </div>
      </form>
    </div>
  </div>
<% end %>
<div class="pt-5 pb-5" style="background-color: #f4ebdf;">
  <div class="row text-center">
    <div>
      <p class="fs-3">キャンペーン & イベント情報</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center ">
    <div class="col-12 col-md-4 text-wrap" style="max-width: 250px;">
      <%= image_tag "event1.png", class: "d-block event-img img-thumbnail" %>
      <p>7 Stars Hotelは非対面式でのチェックインで安心！！</p>
    </div>
    <div class="col-12 col-md-4 text-wrap" style="max-width: 250px;">
      <%= image_tag "event2.png", class: "d-block event-img img-thumbnail" %>
      <p>ステーキハウス88のお得なクーポン配布中！</p>
    </div>
    <div class="col-12 col-md-4 text-wrap" style="max-width: 250px;">
      <%= image_tag "event3.jpg", class: "d-block event-img img-thumbnail" %>
      <p>ファミリーマートコラボ企画</p>
    </div>
  </div>
  <div class="row text-center">
    <div>
      <button class="btn btn-info">もっと見る</button>
    </div>
  </div>
</div>
<script type="text/javascript">
  start_date = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
  end_date = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() + 1);
  $('.start-datepicker').datepicker({ 
      format: 'yyyy/mm/dd',
      autoclose: true,
      startDate: start_date,
  });

  $('.end-datepicker').datepicker({ 
      format: 'yyyy/mm/dd',
      autoclose: true,
      startDate: end_date
  });

  function myFunction() {
    let start_date = document.getElementById("startdate").value
    let end_date = document.getElementById("enddate").value
    if (!start_date) {
      alert("チェックインを選択してください。")
      return false;
    }

    if (!end_date) {
      alert("チェックアウンを選択してください。")
      return false;
    }

    if (start_date > end_date) {
      alert("選択は誤っています。")
      return false;
    }
  }
</script>