<div class="container-fluid" style="background-color: #f0f8ff; padding-bottom: 159px;">
  <div class="container">
    <div class="fs-3" style="padding-top: 80px;">シングルルーム</div>
    <hr>
    <div class="row">
      <% @rooms.each do |room| %>
        <% if room.room_type == 'シングルルーム' %>
          <div class="col-12 col-md-3 text-center">
            <div class="card" style="width: 20rem;">
              <%= link_to("/rooms/#{room.id}") do %>
                <%= image_tag room.image.url, class: "card-img-top room-index-img", alt: "room" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= room.room_no %></h5>
                <p class="card-text"><%= room.price %>円</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="fs-3 pt-3">ツインルーム</div>
    <hr>
    <div class="row">
      <% @rooms.each do |room| %>
        <% if room.room_type == 'ツインルーム' %>
          <div class="col-12 col-md-3 text-center">
            <div class="card" style="width: 20rem;">
              <%= link_to("/rooms/#{room.id}") do %>
                <%= image_tag room.image.url, class: "card-img-top room-index-img", alt: "room" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= room.room_no %></h5>
                <p class="card-text"><%= room.price %>円</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to("create", "/rooms/new") %>
  </div>
</div>